	/* palettes to use: 
                	#34e587	(52,229,135)
                    #64e587	(100,229,135)
                    #94e587	(148,229,135)
                    #c4e587	(196,229,135)
                    #f4e587
            */

			body {
				background-color: #94e587;
			}

			h1 {

				color: white;
				text-align: center;
			}

			p {
				font-family: verdana;
				font-size: 20px;
				color: white;
				text-indent: 50px;
				margin-left: 15px;
				margin-right: 15px;
			}

			div.sex {
				text-indent: 50px;
			}
			
			div.active-lvl {
				margin-left: 50px;
				margin-riht: 5px;
			}
			
			#age,
			#height,
			#weight {
				margin-left: 13%;
			}

			#button_indent {
				margin-left: 30%;
			}

			#text-box {
				margin-top: 3%;
			}
